@page "/books"

<h1>Books</h1>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Rental Status</th>
                <th>Name of Borrower</th>
                <th>Date of Borrowing</th>
                <th>Date of Return</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
           {
               <tr>
                   <td>@book.Title</td>
                   <td>@book.Author</td>
                   @if (book.IsBorrowed)
                    {
                        <td>Borrowed</td>
                    }
                    else
                    {
                        <td>Available</td>
                    }

                   <td>@book.NameOfBorrower</td>
                   <td>@book.DateOfBorrowing.ToShortDateString()</td>
                   <td>@book.DateOfReturn.ToShortDateString()</td>
                   <td>
                       <a href="@($"books/{book.Id}")" class="btn btn-info table-btn">Info</a>
                   </td>
                   @if (!book.IsBorrowed)
                    {
                        <td>
                            <a href="@($"books/{book.Id}/edit")" class="btn btn-primary table-btn">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
           }
        </tbody>
    </table>
}
