@page "/books"

<h1>Books</h1>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Rental Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Books)
           {
               <tr>
                   <td>@book.Title</td>
                   <td>@book.Author</td>
                   @if (book.IsBorrowed)
                    {
                        <td>Borrowed</td>
                    }
                    else
                    {
                        <td>Available</td>
                    }
                   <td>
                       <a href="@($"books/{book.Id}")" class="btn btn-info table-btn">Info</a>
                   </td>
                   @if (!book.IsBorrowed)
                    {
                        <td>
                            <a href="@($"books/{book.Id}/borrow")" class="btn btn-primary table-btn">Borrow</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <button type="submit" class="btn btn-success table-btn" @onclick="@(e => UpdateRentalStatus(book.Id, book))">
                                Return
                            </button>
                        </td>
                    }
                </tr>
           }
        </tbody>
    </table>
}
